body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-image: url("images/background_login.jpeg");
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1024px;
    margin: 0;
}
.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}
h2 {
    text-align: center;
    color: #e74c3c;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    padding: 15px;
    margin-bottom: 15px;
    border: 2px solid #3498db;
    border-radius: 4px;
    background-color: #ecf0f1;
}
.button {
    background-color: #e74c3c;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 300px;
}
.button:hover {
    background-color: #c0392b;
}
